// vars
$bg-color: #f1eeed;
$font-color: #2e2829;

// styles
.container {
  width: 960px;
  margin: 0 auto;
}

.empty-layout {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.main-layout__wrapper {
  display: flex;
}

.main-content {
  width: calc(100% - 200px);
  margin-left: 15px;
}

.container-component {
  margin: 15px 0 0;
  padding: 15px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.character-counter {
  color: #939393;
}

@import 'scaffolding';
@import 'components/loader';
@import 'components/auth';
@import 'components/navbar';
@import 'components/sidebar';
@import 'components/user-info';
@import 'components/users';
@import 'components/posts';
@import 'components/comment';
@import 'components/setting';





