.navbar {
  background-color: #4caf50;
  padding: 0 20px;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  display: flex;
  align-items: center;
}

.navbar__icon {
  color: #4caf50;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
  i {
    font-size: 16px;
  }
}
