.posts {
  width: calc(100% - 320px);
  margin-right: 20px;
}

.posts__list {
  padding: 0;
  margin: 0;
}

.post__title {
  margin: 0;
  font-size: 16px;
}

.post__date {
  color: #939393;
  font-size: 12px;
}

.post__description {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
}
